body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #dce7ff, #f0f5ff);
    min-height: 100vh;
}

/* Header Section */
/*header {
    padding: 8px 40px;
    background-color: #637b96;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/
header {
    background-color: #637b96;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
}


/* Logo + Title */
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
      /* slight left shift */
}
/*.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

.logo {
    width: 40px;
}

.logo-container h2 {
    color: white;
    font-size: 20px;
    margin: 0;
}

/* Navbar */
nav {
    display: flex;
    gap: 30px;   /* evenly spaced */
}


nav a {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
}

nav a:hover {
    color: #dce7ff;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #555;
}

/* CTA Buttons */
.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.cta-btn {
    padding: 12px 28px;
    font-size: 18px;
    background: #3366cc;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.cta-btn:hover {
    background: #1f4fae;
    transform: scale(1.07);
}
