
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #B9C7D3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    background: #637b96;
    color: white;
    padding: 1rem 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.nav-container {
    max-width: 1200px;
    margin: 25;
    display: flex;   
    align-items: center;
    padding: 0 2rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
}

.logo img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.back-btn {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 25px;
    transition: all 0.3s ease;
}

.back-btn:hover {
    background: rgba(255,255,255,0.1);
}
.login-container {
    background: white;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    padding: 3rem;
    width: 100%;
    max-width: 400px;
    margin-top: 3rem;
}

/* Title & subtitle */
.title {
    text-align: center;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}

/* Toggle Buttons */
.toggle {
    display: flex;
    justify-content: space-between;
    background: #e8edf4;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}

.toggle button {
    width: 50%;
    padding: 10px;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.toggle button.active {
    background: #ffffff;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

/* Inputs */
label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Login Button */
.loginBtn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.loginBtn:hover {
    background: #005dc0;
}

.signup {
    text-align: center;
    margin-top: 12px;
}

.signup a {
    text-decoration: none;
    color: #007bff;
}
